html{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100%;
    
}
.attribution{
position: absolute;
bottom: 0;
right: 720px;
}
.card{
    background-color: hsl(244, 38%, 16%);
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
}
.cont1{
    color: white;
    color: white;
    display: grid;
    grid-template-rows: 33% 34% 33%;
   
}
.mainContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 25% 50% 25%;
}
 h1{
   
    display: block;
    
    font-size: 38px;
    
 }
 .insi{
     display: inline;
   color: hsl(277, 64%, 61%); 
 }
 .cont2{
   
    display: grid;
    grid-template-columns: 15% 55% 30%;
    align-content: center;
        
 }
 .heading{
    display: grid;
    grid-template-columns: 15% 77% 8%;
    align-content: center;
    margin-top: 83px;
}
.analt{
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 15%;
    align-content: center;
}
.show{
    text-transform: uppercase;
   color: hsla(0, 0%, 100%, 0.6);
   

}
.numb{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 28px;
}
.attribution { font-size: 11px; text-align: center; 
color:white}
.attribution a { color: hsl(228, 45%, 44%); }

.img1{
    filter: grayscale(1) sepia(11%) saturate(1535%) hue-rotate(230deg) brightness(83%) contrast(145%);
}